[run]
branch = True
omit = 
  **/.env,
  **/env,
  **/.venv,
  **/venv,
  **/*egg*,
  **/__pycache__/*,
  **/scripts/*,
  **/migrations/*,
  **/production/*,
  wsgi.py,
  manage.py,
  unbrake_api/management/*,
  unbrake_api/settings.py,
  unbrake_api/runner.py,
  unbrake_api/wsgi.py

[report]
show_missing = True

[html]
title = Testes da API do UnBrake
