[flake8]

exclude =
  .git/*,
  __pycache__/*,
  production/*,
  secrets/*,
  env/*,
  venv/*,
  .env/*,
  .venv/*,
  **/migrations/*,
  .pylintrc,
  .coverage*,
  coverage*,
  db.sqlite3,
  scripts/*,
  hooks/*,
  Dockerfile,
  *.txt,
  *.sh,
  pytest.ini,
  .pytest*,
  .flake8


per-file-ignores =
    settings.py:E501,
	test_*:F811, F401,
