Django==2.2.24
autopep8==1.4.3
coverage==4.5.3
django-cors-headers==2.5.2
django-graphql-jwt==0.2.1
emitter-io==2.0.2
flake8==3.7.7
graphene==2.1.3
graphene_django>=2.2.0
pylint-django==2.0.6
pylint==2.3.1
pytest-django==3.4.8
pytest==4.4.0
